//Font weight
$thin: 200;
$light: 300;
$regular: normal;
$medium: 500;
$semibold: 600;
$bold: bold;

//Font
$font: Poppins;

//Colors
$primary: #577BF9;
$primary25: #E6EBFE;
$line: #E1E1F1;
$background: #F6F6FA;
$black: #131340;
$dark60: #71718C;
$dark20: #D0D0D9;
$dark8: #ECECF0;
$dark5: #F3F3F5;
$white: #FFF;
$we-blue: #3742FA;
$we-green: #2ED573;
$we-lightBlue: #1E90FF;
$we-red: #FF4757;
$we-yellow: #FFA502;
$we-orange: #FF6348;
$we-inherit: rgba(0, 0, 0, 0);

$body-font-family: 'Poppins';
$heading-font-family: $body-font-family;
$color-pack: false;